* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(28, 28, 28);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color : rgb(214, 154, 222);
}